@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&family=Roboto&display=swap");

body {
  margin: 0px;
  padding: 0px;
  font-family: montserrat;
  font-size: 1rem;
}

.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

/* Top logo + navigation */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ececec;
  grid-column: 1/-1;
  box-shadow: 5px 5px 10px #919191;
  position: relative;
  z-index: 2;
}

.logo {
  width: 150px;
  padding: 5px 10px;
}

.icons,
.icons a {
  display: flex;
  font-size: 2rem;
  color: #23405e;
  margin-right: 40px;
}

.icons :last-child {
  margin-right: 0;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 26%;
  background-color: #fff;
  padding: 0.5rem;
  margin: 2rem;
  border-radius: 2rem;
  color: #23405e;
  font-size: 1rem;
}

input {
  margin: 0 0.5rem 0 0.5rem;
  font-size: 1rem;
  padding: 0;
  width: 100%;
  border: none;
  outline: none;
  color: #575757;
}

/* Sidebar navigation */

nav {
  background: #fff;
  box-shadow: 5px 5px 10px #919191;
  font-size: 0.7rem;
  text-align: center;
  position: relative;
  z-index: 1;
}

nav a {
  text-decoration: none;
  color: #575757;
}

.navigation {
  max-width: 60px;
  position: relative;
  margin: 1rem;
}

nav ul {
  padding: 0;
  column-count: 2;
  list-style: none;
  max-width: 10vw;
}

.sidebar-socials ul {
  position: absolute;
  top: 49rem;

  padding: 3;
  column-count: 3;
  list-style: none;
  background-color: #ececec;
  width: 100%;
  height: 10%;
  color: #23405e;
}

.socials {
  padding-top: 1.5rem;
  font-size: 1.5rem;
  margin-left: 1rem;
}

/* Main Content */

main {
  background: #f8f8f8;
}

.cta-button,
.cta-button a {
  margin: auto;
  background: #e00087;
  color: #fff;
  border-radius: 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 15px;
  display: flex;
  justify-content: center;
  width: 170px;
  text-decoration: none;
}

.header-section {
  background-image: url(../images/header-img.jpg);
  background-size: cover;
  color: #cccccc;
  max-width: 100%;
  height: 200px;
  max-height: 15%;
  margin: 0 0 30px 0;
  padding: 15px;
}

.header-section p {
  text-align: center;
  max-width: 400px;
  margin: 30px auto;
}

.container {
  box-shadow: 5px 5px 10px #919191;
  margin: 50px auto;
  max-width: 1200px;
}

.product-home img {
  max-height: 15vh;
}

.product-home .popular,
.product-home .recent {
  font-size: 1.2rem;
  background-color: #23405e;
  padding: 5px;
  color: #dcdcdc;
  text-transform: uppercase;
  width: 40%;
  margin-top: 80px;
}

.popular-products {
  display: inline-block;
  padding: 2rem;
  margin-left: 2.2rem;
  color: #575757;
  text-align: center;
}

.price-background {
  background-color: #23405e;
  width: 150px;
}

.popular-products p,
.recent-products p {
  color: #c4c4c4;
  text-align: center;
  display: inline-block;
  width: 50%;
  font-weight: 500;
  margin: 0px;
}

.recent-products {
  display: inline-block;
  padding: 2rem;
  margin-left: 2.2rem;
  color: #575757;
  text-align: center;
}

/* Smaller screen edits */

@media (max-width: 1400px) {
  .container {
    margin: 50px;
  }
}

@media (max-width: 800px) {
  .logo {
    margin-top: 10px;
    width: 80px;
  }

  .icons,
  .icons a {
    font-size: 1.4rem;
    margin: 10px;
  }

  .searchbar {
    width: 50%;
  }

  input {
    font-size: 0.8rem;
  }

  .container {
    margin: 25px 30px;
  }

  .cta-button {
    font-size: 0.7rem;
    padding: 10px;
    width: 140px;
    margin-top: 30px;
  }

  .header-section p {
    font-size: 0.8rem;
    margin: 10px auto;
  }

  .header-section {
    height: 150px;
  }

  .price-background {
    width: 100px;
  }

  .product-home .popular,
  .product-home .recent {
    font-size: 0.6rem;
    width: 50%;
    margin-top: 40px;
  }

  .popular-products,
  .recent-products {
    padding: 0;
    margin: 1rem;
    width: 100px;
  }

  .product-home img {
    max-height: 10vh;
  }

  .product-home h3,
  .product-home p {
    font-size: 0.6rem;
    padding: 0.2rem 0;
    margin: auto;
  }
}
